*{
	background-color: #fff;
}

body{
	font-family: 'Roboto', sans-serif;
}

pre { font-family: 'Roboto Mono', monospace; }

div{
	width: 90%;
	margin: 10px auto;
}

h1{
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 5px;
	letter-spacing: .05em
}

p{
	-moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
	letter-spacing: .03em;
	color: #777;
}

article {
  max-width: 400px;
  margin: 0 auto;
}

code { background-color: lavender; }
figcaption { font-family: courier new; font-size: small; color: darkslategrey; }
a[rel~="author"] { text-decoration: none; }


